<div class="login-form">
    <div class="login-form-wrap">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-input-group">
                <input type="text" formControlName="email" name="email" id="email" placeholder="Email">
            </div>
                        
            <div class="error-message" *ngIf="this.form.get('email')?.invalid && (this.form.get('email')?.touched  || this.form.get('email')?.dirty)">
                <p>Email Format Incorrect</p>
            </div>
        
            <div class="form-input-group">
                <input class="password-input" [type]="this.showPassword ? 'text' : 'password'" formControlName="password" name="password" id="password" placeholder="Password">
                <button (click)="this.showPassword = this.showPassword ? false : true" class="show-password-button" type="button">
                    <a *ngIf="!this.showPassword">Show Password</a>
                    <a *ngIf="this.showPassword">Hide Password</a>
                </button>
            </div>

            <div class="response-error-message" *ngIf="this.isNotAuthorise">
                <p>Username or Password Incorrect</p>
            </div>

            <div class="form-input-group">
                <a [routerLink]="['/account/register']">Create new account.</a>
            </div>
        
            <button class="form-button">Login</button>
        </form>
    </div>
</div>