<google-map
  height="100vh"
  width="100vw"
  [options]="mapOptions"
  (mapClick)="onMapClick($event)"
>
  <ng-container *ngFor="let markerPosition of markerPositions">

    <map-marker 
      #marker = "mapMarker"
      [position]="markerPosition.coordinations"
      (mapMouseover)="openMakerInfoWindow(marker)"
      (mapMouseout)="closeMarkerInfoWindow()">
    </map-marker>

    <map-info-window>
      <h3>{{ markerPosition.title }}</h3>
      <p>{{ markerPosition.description }}</p>
    </map-info-window>

  </ng-container>
 



</google-map>